* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Configuração da Página */
body{
    color: #263138;
}

/* Cabeçalho - Menu */

.menu{
    background-color: #ff9a6c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 80px;

    /* Fixar o menu no topo */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

    
.menu nav a {
    color: aliceblue;
    font-weight: 600;
    text-decoration: none;
    padding: 32px;
}

/* Config - Seção INÍCIO */
#inicio, #clinica, #farmacia {
    display: flex;
    align-items: center;
    gap: 32;
    padding: 80px 80px 24px 80px;
    position: relative;
}


#farmacia > div {
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#farmacia > div > p{
    width: 50%;
}

h1, h2 {
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 32px;
}

.paragrafo {
    margin-bottom: 64px;
}

.paragrafo-clinica, .paragrafo {
    line-height: 150%;
}

.paragrafo-clinica {
    margin-bottom: 27px;
}

.paragrafo-clinica li {
    margin: 0px 0px 12px 30px;
}



.botao {
    background-color: #FF9A6C;
    border-radius: 8px;
    color: #FFF;
    padding: 16px 32px;
    text-decoration: none;
}

.botao-transparente {
    background-color: transparent;
    color: #FF725E;
    padding: 16px 32px;
    text-underline-offset: 4px;
}

.absolute{
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    z-index: -10;
}
