* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Configuração da Página */
body {
    color: #263138;
}

/* Cabeçalho - Menu */

.menu {
    background-color: #ff9a6c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 80px;

    /* Fixar o menu no topo */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}


.menu nav a {
    color: aliceblue;
    font-weight: 600;
    text-decoration: none;
    padding: 32px;
}

/* Config - Seção INÍCIO */
#inicio,
#clinica,
#farmacia {
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 80px 80px 24px 80px;
    position: relative;
}


#farmacia>div {
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#farmacia>div>p {
    width: 50%;
}

h1,
h2 {
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 32px;
}

.paragrafo {
    margin-bottom: 64px;
}

.paragrafo-clinica,
.paragrafo {
    line-height: 150%;
}

.paragrafo-clinica {
    margin-bottom: 27px;
}

.paragrafo-clinica li {
    margin: 0px 0px 12px 30px;
}

.botao {
    background-color: #FF9A6C;
    border-radius: 8px;
    color: #FFF;
    padding: 16px 32px;
    text-decoration: none;
}

.botao-transparente {
    background-color: transparent;
    color: #FF725E;
    padding: 16px 32px;
    text-underline-offset: 4px;
}

.absolute {
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    z-index: -10;
}

/* Seções - Dúvidas ( Conteúdos ) */
#duvidas {
    display: flex;
    align-items: center;
    gap: 64px;
    padding: 80px 80px;
}

.duvida {
    position: relative;
}

.duvida h3 {
    border: 2px solid #FF725E;
    border-radius: 8px;
    cursor: pointer;
    padding: 24px;
    margin-bottom: -50px;
    /* distancia */
}

.duvida img {
    position: absolute;
    top: 32px;
    right: 24px;
}

.duvida .paragrafo {
    border-right: 1px solid #FF725E;
    border-bottom: 1px solid #FF725E;
    border-left: 1px solid #FF725E;
    border-radius: 0 0 8px 8px;
    margin-top: -8px;
    /* Eventos JS... */
    padding: 10px 24px;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transform: .2s;
}

.duvida.ativa .paragrafo {
    opacity: 1;
    height: fit-content;
    overflow: 24px;
    padding: 60px 24px 10px 24px;
}

footer {
    display: flex;
    flex-direction: column;
}

#links-rapidos {
    height: 300px;
    display: flex;
    gap: 32px;
    padding: 80px 24px;
}

#links-rapidos {
    background-color: #fde3d9;
    justify-content: space-around;
}

#links-rapidos a {
    margin-bottom: 15px;
}

#links-rapidos ul {
    list-style-type: none;
}

#links-rapidos ul li a{
    text-decoration: none;
    color: #263138;
}

#links-rapidos .mais-info:last-of-type a:last-of-type {
    color: #FF725E;
}

.mais-info img {
    margin-bottom: 20px;
}

.mais-info a {
    margin-bottom: 60px;
}

.mais-info ul li  {
    margin-bottom: 15px;
}

#diretos-reservados {
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding: 30px 24px;
    background-color: #263138;
}

#diretos-reservados p {
    text-decoration: none;
    color: aliceblue;
}

#diretos-reservados p a {
    color: #FF725E;
    text-decoration: none;
    gap: 50px;
    margin-right: 10px;

}

#direitos-reservados a {
}

.paragrafo-links-rapidos {
    font-weight: bold;
    margin-bottom: 20px;
}

#img-links-rapidos {
    margin-bottom: 20px;
}